@font-face {
  font-family: 'Open Sans';
  src: url('src/fonts/OpenSans-Light.ttf');
  src: url('src/fonts/OpenSans-Bold.ttf');
  src: url('src/fonts/OpenSans-SemiBold.ttf');
  src: url('src/fonts/OpenSans-ExtraBold.ttf');
  src: url('src/fonts/OpenSans-Regular.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.front-circle-1 {
  clip-path: circle(65% at -10% 5%);
}

.front-circle-1-lg {
  clip-path: circle(55% at -10% 5%);
}

.front-circle-2 {
  clip-path: circle(3% at 90% 10%);
}

.front-circle-3 {
  clip-path: circle(8% at 80% 50%);
}

.h-x2 {
  height: 200%;
}
