@font-face {
  font-family: 'Open Sans';
  src: url('src/fonts/OpenSans-Light.ttf');
  src: url('src/fonts/OpenSans-Bold.ttf');
  src: url('src/fonts/OpenSans-SemiBold.ttf');
  src: url('src/fonts/OpenSans-ExtraBold.ttf');
  src: url('src/fonts/OpenSans-Regular.ttf');
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.front-circle-1 {
  height: 1400px;
  width: 1400px;
  left: -500px;
  top: -300px;
}

.front-circle-1-large {
  height: 1600px;
  width: 1600px;
  left: -400px;
  top: -400px;
}

.front-circle-2 {
  height: 100px;
  width: 100px;
  right: 5%;
  top: 15%;
}

.front-circle-3 {
  height: 200px;
  width: 200px;
  right: 5%;
  bottom: -15%;
}

.testimonials-circle-1 {
  height: 250px;
  width: 250px;
  right: -7%;
  bottom: -15%;
}

.services-circle-1 {
  height: 750px;
  width: 750px;
  left: -10%;
  bottom: -10%;
}

.faq-circle-1 {
  height: 450px;
  width: 450px;
  right: 0%;
  top: 20%;
}

.faq-circle-2 {
  height: 150px;
  width: 150px;
  left: 5%;
  bottom: 20%;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.max-h-0 {
  max-height: 0;
}

.h-x2 {
  height: 200%;
}

.h-600px {
  height: 600px;
}

.card-icons {
  opacity: 0;
}

.show-card-icons:hover .card-icons {
  opacity: 100;
}

.no-marker::-webkit-details-marker {
  display: none;
}

.no-marker::marker {
  width: 0;
}

/* bg-<color> is broken in tailwind because of new version of postcss */

.bg-teal-900 {
  background: #00695c;
}

.bg-teal-800 {
  background: #00796b;
}

.bg-teal-700 {
  background: #00897b;
}

.bg-teal-500 {
  background: #26a69a;
}

.bg-teal-400 {
  background: #4db6ac;
}

.bg-teal-200 {
  background: #b2dfdb;
}
